.env
.env*
!.env.example
node_modules
build
dist
lib
.eslintcache
.npmrc
*.log
temp
*.level
coverage
coverage.json
typedoc
artifacts-zk
cache-zk
artifacts
cache
typechain
typechainV6
network/volumes
deployments/localhost
.yarn
